* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    height:100vh;
    display:flex;
    flex-direction: column;
    background: #1e1f22;
}

/* DIV PRINCIPALE */
.app {
    display: flex;
    height: 100vh;
}


/* MAIN */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #2b2d31;
}

/* SIDEBAR */
.sidebar {
    width: 72px;
    height: 100vh;
    background-color: #1e1f22;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* SIDEBAR ICONS */
.server {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #313338;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-radius 0.2s, background-color 0.2s;
    overflow: hidden;
}

.server img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




























/* FOOTER */
.footer{
    position: absolute;
    width: 100%;
    bottom: 0; 
    height: 80px;
    flex-shrink: 0;
    background-color: #1e1f22;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: white;
}

.footer-item {
    text-align:center;
}

.footer-item i {
  	font-size: 30px;
       
}

/* DIV TEXT-ITEM */
.footer-item div {
    margin-top: 3px;
}

.avatar {
 	width: 30px;
  	height: 30px;
  	border-radius: 50%;
  	object-fit: cover;
    
}



/*sidebar*/
.sidebar-item {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
	gap:5px;
  	font-size: 12px;
	margin-bottom: 10px;;
}
